#_chrome_debugger {
  font-size: 16px;
  line-height: 1.5;
  z-index: 11111;
}

#_chrome_debugger #debugger-handle {
  position: fixed;
  right: 1px;
  top: 1px;
}

#_chrome_debugger #debugger-content {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  font-family: Consolas, "Courier New", monospace;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 9999;
}

#_chrome_debugger #debugger-content .value {
  color: #f7e68b;
}

#_chrome_debugger #debugger-content em {
  color: #2cf4f5;
}

#_chrome_debugger #debugger-content .special {
  color: #f54048;
  font-weight: bold;
}

#_chrome_debugger #debugger-content .number {
  color: #7fff00;
  font-weight: bold;
}

#_chrome_debugger .export {
  float: right;
}

#_chrome_debugger .debugger-common-block {
  border: 1px solid #193441;
  box-shadow: 0px 0px 3px #1d2339;
  background: #1d2339;
  color: #fcfff5;
  box-sizing: border-box;
}

#_chrome_debugger .debugger-transition {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#_chrome_debugger .debugger-common-toggle {
  display: none;
}

#_chrome_debugger .debugger-common-handle {
  cursor: pointer;
  display: inline;
}

#_chrome_debugger .debugger-common-handle::before {
  content: "+";
  display: inline-block;
  width: 30px;
  margin-left: -30px;
  color: rgb(255, 83, 112);
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

#_chrome_debugger .debugger-content {
  display: block;
}

#_chrome_debugger .debugger-content-block {
  display: none;
}

#_chrome_debugger .debugger-common-toggle:checked ~ .debugger-content-block {
  display: block;
}

#_chrome_debugger
  .debugger-common-toggle:checked
  ~ .debugger-common-handle::before {
  content: "-";
}

#_chrome_debugger .depth-0 {
  display: block;
}

#_chrome_debugger .debugger-accordion-handle {
  display: block;
  width: 100px;
  height: 50px;
  text-align: left;
  padding: 0 12px;
}

#_chrome_debugger .debugger_box {
  box-sizing: border-box;
  padding: 0 0 0 30px;
}

#_chrome_debugger .render-line-item {
  position: relative;
}

#_chrome_debugger .render-line-item:hover > .copy-box {
  display: block;
}

#_chrome_debugger .render-line-item .copy-box {
  display: none;
  position: absolute;
  right: 0px;
  top: 0;
  font-size: 14px;
  background: #f54048;
  padding: 3px 10px;
  line-height: 1;
  z-index: 11;
}

#_chrome_debugger .render-line-item .copy-box input {
  position: absolute;
  right: -200%;
  opacity: 0;
  z-index: -1;
  cursor: pointer;
}

#_chrome_debugger .render-line-item .copy-box .copy-path {
  margin-left: 10px;
}

#_chrome_debugger .render-line-item .copy-box .copy-path,
#_chrome_debugger .render-line-item .copy-box .copy-text {
  display: inline-block;
  cursor: pointer;
}
