#_chrome_debugger {
  font-size: 16px;
  line-height: 1.5;
  z-index: 11111;
}

#_chrome_debugger #debugger-handle {
  position: fixed;
  right: 1px;
  top: 1px;
}

#_chrome_debugger #debugger-content {
  width: 90%;
  height: 100%;
  position: fixed;
  left: 101%;
  top: 0;
  font-family: Consolas, "Courier New", monospace;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 9999;
}

#_chrome_debugger #debugger-content .value {
  color: #d8ffb0;
}

#_chrome_debugger #debugger-content em {
  color: #40e0d0;
  font-weight: bold;
}

#_chrome_debugger #debugger-content .special {
  color: #ff3333;
}

#_chrome_debugger #debugger-content .number {
  color: #7fff00;
}

#_chrome_debugger #debugger-toggle:checked ~ #debugger-content {
  left: 10%;
}

#_chrome_debugger #debugger-toggle:checked ~ #debugger-handle {
  right: 90%;
}

#_chrome_debugger .export {
  float: right;
}

#_chrome_debugger .debugger-common-block {
  border: 1px solid #193441;
  box-shadow: 0px 0px 3px #3e606f;
  background: #3e606f;
  color: #fcfff5;
}

#_chrome_debugger .debugger-handle-block {
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background: -moz-linear-gradient(top, #ffc700 0, #ffab00 100%);
  background: -webkit-linear-gradient(top, #ffc700 0, #ffab00 100%);
  color: #333333;
  z-index: 10000;
}

#_chrome_debugger .debugger-transition {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#_chrome_debugger .debugger-common-toggle {
  display: none;
}

#_chrome_debugger .debugger-common-handle {
  cursor: pointer;
  display: inline;
}

#_chrome_debugger .debugger-content-block {
  display: none;
}

#_chrome_debugger .debugger-common-toggle:checked ~ .debugger-content-block {
  display: block;
}

#_chrome_debugger .depth-0 {
  display: block;
}

#_chrome_debugger .debugger-accordion-handle {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0 12px;
}
